<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Sign up
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form ngForm (ngSubmit)="SignUp($event)">
        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input name="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">password</ion-label>
            <ion-input name="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">repeat password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button expand="full" shape="round" type="submit" >Create Account</ion-button>
    </form>
</ion-content>
