<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>BN</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
        <ion-item class="activated">
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>Villages</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Mosque</ion-label>
        </ion-item>

        <ion-item class="activated">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Population</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Suspects</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Male</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Female</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Children</ion-label>
        </ion-item>
    </ion-card>

  <ion-button> COY</ion-button>
  <ion-button>School</ion-button>
  <ion-button>Police Station</ion-button>
  <ion-button>Sarpanch</ion-button>
  <ion-button>Mosque</ion-button>
  <ion-button>Government Employs</ion-button>
  <ion-button>Medical Facilities</ion-button>
  <ion-button>Vehicle</ion-button>
</ion-content>
