<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            WebArt
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col text-start padding-top>
            <ion-title>Google Map</ion-title>
        </ion-col>
        <ion-col text-end>
            <ion-button (click)="loadMap()" shape="round" fill="outline">
                <ion-icon slot="start" name="locate"></ion-icon>
                Where I Am
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-button routerLink="view" (click)="btnClicked()">BTN</ion-button>
    <ion-button (click)="startCamera()">Camera</ion-button>
    <ion-button>Map</ion-button>
    <ion-content>
        <ion-button (click)="light()">Flashlight</ion-button>
    </ion-content>
    <ion-button>Form</ion-button>
    <ion-button>Government Employs</ion-button>
    <ion-button>Medical Facilities</ion-button>
    <ion-button>Vehicle</ion-button>
    <ion-button>AOR(MAP)</ion-button>
    <div class="map-wrapper">
        <div id="map_center">
            <img src="../../assets/icon/center_marker.png"/>
        </div>
        <div #map id="map"></div>
    </div>
    <div id="address">
        <span>{{address}}</span>
    </div>
</ion-content>

<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-row>
                <ion-col>
                    <ion-icon name="person-add"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-title>
                        Add Person
                    </ion-title>
                </ion-col>
                <ion-col>
                    <ion-icon float-right="" name="more"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-header>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Age</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Type of person</ion-label>
            <ion-select>
                <ion-select-option selected>Genius</ion-select-option>
                <ion-select-option>Good</ion-select-option>
                <ion-select-option selected>Average</ion-select-option>
                <ion-select-option>Duffer</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contact</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Occupation</ion-label>
            <ion-select>
                <ion-select-option selected>Government job</ion-select-option>
                <ion-select-option>Privet</ion-select-option>
                <ion-select-option selected>Self</ion-select-option>
                <ion-select-option>None</ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <ion-button>
        Cancel
    </ion-button>

    <ion-button float-right>
        Add
    </ion-button>


</ion-content>
